---
# Only the main Sass file needs front matter (the dashes are enough)
---

$color: #F16E51;

html {
  scroll-behavior: smooth;
}

.gradient {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#f8f9fa), color-stop(40%,#ffffff), color-stop(40%,#ffffff));
}

.intro {
  padding: 8em 0;
  text-align: center;
}

h1, h2, h3 {
  color: $color !important;
}

.named-icon {
  text-align: center;
  padding-bottom: 0.25em;
}

.named-icon > .fas {
  color: #16A5E7;
}

.expand-height {
  padding: 4em 0;
}

.faq-section-top {
  margin-top: 2em;
}

.faq-section-bottom {
  margin-bottom: 2em;
}

@media (max-width: 768px) {
  footer nav {
    justify-content: left !important;
  }

  .expand-height {
    padding: 2em 0;
  }

  .intro {
    padding: 4em;
  }
}

@media (min-width: 768px) {
  footer nav {
    justify-content: center !important;
  }
}

@media (max-width : 992px) {
  section .mobile-mb {
    margin-bottom: 1.25em;
  }
}