<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/icons/favicon-32x32.png" alt="oso-icon" />
      oso
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/join">Join us</a>
        <a class="nav-item nav-link" href="/faq">FAQ</a>
        <a class="nav-item nav-link" href="/status">Status</a>
        <a class="nav-item nav-link" href="/about">About us</a>
        <!--<a class="nav-item nav-link" href="https://blog.ososystem.de">Blog</a>-->
      </ul>
      <ul class="navbar-nav ml-auto">
        <form class="form-inline">
          <!--<button class="btn btn-block btn-outline-info" type="button">Sign in</button>-->
        </form>
      </ul>
    </div>
  </nav>
</header>